<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Create New User</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <div class="container">
        <header>
            <h1>Create New User</h1>
        </header>
        <form action="/users/create" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" name="address">
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select id="role" name="role">
                    <option value="delivery_hub">Delivery Hub</option>
                    <option value="delivery_guy">Delivery Guy</option>
                </select>
            </div>
            <div class="mid">
                <button class="login-btn" type="submit">Submit</button>
            </div>
        </form>
        <div class="mid">
            <a href="/users/logout" class="logout-btn">Logout</a>
        </div>
    </div>
</body>
</html>
