<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Create Shipment</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div class="container">
    <header><h1>Create New Shipment</h1></header>
    <div id="error_message" class="error-message hidden">
        Sender not found. To add a new sender, please provide the sender’s address information as well.
    </div>
    <form id="createShipmentForm">
        <div class="form-group">
            <label for="sender_name">Sender Name</label>
            <input type="text" id="sender_name" name="sender_name" required>
        </div>
        <div class="form-group">
            <label for="sender_phone">Sender Phone</label>
            <input type="text" id="sender_phone" name="sender_phone" required>
        </div>
        <div id="sender_address_group" class="form-group hidden">
            <label for="sender_address">Sender Address</label>
            <input type="text" id="sender_address" name="sender_address">
        </div>
        <div class="form-group">
            <label for="receiver_name">Receiver Name</label>
            <input type="text" id="receiver_name" name="receiver_name" required>
        </div>
        <div class="form-group">
            <label for="receiver_phone">Receiver Phone</label>
            <input type="text" id="receiver_phone" name="receiver_phone" required>
        </div>
        <div class="form-group">
            <label for="receiver_address">Receiver Address</label>
            <input type="text" id="receiver_address" name="receiver_address" required>
        </div>
        <div class="mid">
            <button class="login-btn" type="submit">Create</button>
            <a href="/users/dashboard" class="logout-btn">Cancel</a>
        </div>
    </form>
    <div class="mid">
        <a href="/users/logout" class="logout-btn">Logout</a>
    </div>
</div>
<script src="/static/shipment.js"></script>
</body>
</html>

