<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Delivery Guy Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">

    <header>
        <h2>DELIVERY GUY</h2>
    </header>

    <div class="mid">
        <a href="/shipments/qr_scan" class="dashboard-btn">Scan QR</a>
    </div>
    <div class="mid">
        <a href="/users/logout" class="logout-btn">Logout</a>
    </div>
</div>

</body>
</html>