<html lang="tr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Delivery Hub Dashboard</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div class="container">
    <header>
        <h1>Delivery Hub Dashboard</h1>
    </header>


    <div class="mid">
        <button class="dashboard-btn" onclick="window.location.href='/users/create'">
            Yeni Kullanıcı Oluştur
        </button>
    </div>

    <div class="mid">
        <button class="dashboard-btn" onclick="window.location.href='/shipments/create-shipment'">
            Yeni Kargo Oluştur
        </button>
    </div>

    <footer>
        <button class="logout-btn">Logout</button>
    </footer>
</div>

<script src="/static/shipment.js"></script>
</body>
</html>
