<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Delivery Hub Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="/static/auth.js"></script>

</head>
<body>
<div class="container">
    <header>
        <h2>DELIVERY HUB</h2>
    </header>

    <div class="project-description">
        <div class="mid">
            <a href="#" class="dashboard-btn" onclick="goCreate()">Create Shipment</a>
        </div>
        <div class="mid">
            <a href="#" class="dashboard-btn" onclick="goScan()">Scan QR</a>
        </div>
    </div>
    <footer>
        <button onclick="logout()" class="logout-btn">Logout</button>
    </footer>
</div>

</body>
</html>

