<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Hub Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Delivery Hub Dashboard</h1>
            <button onclick="logout()" class="logout-btn">Logout</button>
        </header>

        <div class="dashboard-content">
            <div class="menu-section">
                <button class="menu-btn">Create New User</button>
            </div>
        </div>
    </div>


</body>
</html>

