<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neriman turhan kargo projesi</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <div class="language-switcher">
        <a href="/tr" class="language-btn active">TR</a>
        <a href="/" class="language-btn">EN</a>
    </div>
    <header>
        <h1>KARGO PROJESİ</h1>
    </header>

    <main>
        <section class="project-description">

            <p>Bu proje, kargo gizliliğine bir çözüm olarak geliştirildi. Kargo paketlerinin üstünde kişisel hassas
                veriler herkes tarafından görülebiliyor. O kargo paketindeki hassas veriler, size ulaşana kadar veya
                sizden çöpe gidene kadar biri tarafından ele geçirilip sizin adınızdan numaranızdan oturduğunuz
                apartmanın dairesine kadar görülebilir. Bu durum kişisel alanı tehdit altında tutar.</p>

            <p>Bu soruna çözüm olarak bir web uygulaması geliştirdim. Bu uygulamaya sadece tanımlı yetkili kişiler
                girebiliyor. Ayrıca uygulama içinde roller ve hiyerarşi var. Şube tüm detayları görebilirken, kargo
                dağıtım görevlisi bilgilere kısıtlı ve sadece gerekli bilgilere erişebiliyor. Bu kısıtlamalar ve
                hiyerarşi kargo gizliliğini pekiştiriyor. Olası gizlilik ihlali durumlarının önüne geçiyor. Hem kargo
                sahibi kargo alıcısını memnun ettiği için, hem kargo şirketi gizlilik sunmayan şirketlere göre tercih
                edildiği için hem de kargo alıcısı gizliliğinin korunduğu için fayda görüyor.</p>

            <p>Bu uygulamadaki yöntem, kişisel bilgileri alıp QR'a link olarak gömmek. Şube giriş yapar, kargo
                bilgilerini alır, eğer sender kayıtlı değilse sender için adres bilgisi de alarak kargo qr'ını
                oluşturur. QR çıktısını alıp kargo paketine yapıştırır. Dağıtım sırasında ise kargo dağıtım görevlisi
                kargo paketindeki QR'ı okutarak sadece gerekli bilgileri görür ve teslim eder. Kargoyu alan kişi ise
                kargo paketini çöpe atarken bilgilerini karalamak veya kargo paketini parçalamak zorunda kalmaz çünkü
                dışarıdan biri erişmeye çalıştığı zaman uygulama içine giremez.</p>


        </section>
    </main>

    <div class="mid">
        <a href="/users/login" class="login-btn">Giriş Yap</a>
    </div>

</div>
</body>
</html>