<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neriman Turhan Shipment Project</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <div class="language-switcher">
        <a href="/tr" class="language-btn">TR</a>
        <a href="/" class="language-btn active">EN</a>
    </div>

    <header>
        <h1>SHIPMENT PROJECT</h1>
    </header>

    <main>
        <section class="project-description">

            <p>This project was developed as a solution to cargo privacy issues. Sensitive personal data on cargo
                packages can be seen by anyone. The information on that package—your name, phone number, even your
                apartment number—can be accessed by someone until the cargo reaches you or even after, when the package
                is thrown away. This puts personal privacy at risk.</p>

            <p>As a solution to this problem, I developed a web application. Only authorized users defined in the system
                can access the app. It also includes roles and a hierarchy. While the branch can see all the details,
                the delivery personnel only have access to limited and necessary information. These restrictions and
                hierarchy reinforce cargo privacy and help prevent possible privacy breaches. This benefits all parties:
                the sender because the recipient is satisfied, the cargo company because it stands out against those
                that don’t provide privacy, and the recipient because their information is protected.</p>

            <p>The method used in this app is to convert personal information into a link embedded in a QR code. The
                branch staff logs in, enters the cargo info, and if the sender is not registered, they also enter the
                sender's address to generate the QR. The QR is printed and attached to the package. During delivery, the
                delivery staff scans the QR and only sees the necessary info to complete the delivery. When the
                recipient throws the package away, they don't need to scribble over or tear it up, because an outsider
                scanning the QR can’t access the system.</p>


        </section>
    </main>

    <div class="mid">
        <a href="/users/login" class="login-btn">Login</a>
    </div>

</div>
</body>
</html>
