<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neriman Turhan Shipment Project</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <div class="language-switcher">
        <a href="index-tr.html" class="language-btn active">TR</a>
        <a href="index.html" class="language-btn">EN</a>
    </div>

    <header>
        <h1>SHIPMENT PROJECT</h1>
    </header>

    <main>
        <section class="project-description">
            <p>An Innovative Solution Prioritizing Cargo Privacy</p>

            <p>Nowadays, protecting personal information in cargo processes has become a major issue. Sensitive details such as name, surname, address, and sometimes even the contents of the cargo are openly written on shipping labels. This situation can lead to privacy violations, especially if it falls into unauthorized hands. For example, some cargo workers, when they know who the sender is, may open packages just out of curiosity and look inside.</p>

            <p>As a solution to this problem, I have developed a QR code-based system. The system encrypts cargo information and embeds it into a QR code. Thus, personal details are not openly displayed on the cargo. Only authorized personnel can access the QR code’s content. For example, branch employees can see all the details, while delivery staff only see the information necessary for delivery. Anyone who cannot log in to the application cannot read any information.</p>

            <p>The project is designed as a completely company-specific system. Even if someone from outside scans the QR code, they cannot decrypt the encrypted data. Both authorization and authentication mechanisms keep security at the highest level.</p>

            <p>In this way, while customers’ personal data is protected, cargo processes become more secure. Risks such as unnecessary opening of cargo bags and unauthorized access to address information are eliminated.</p>

            <p>In short, this project aims to close privacy gaps in the cargo industry and provide a safer experience for both the sender and the recipient.</p>
        </section>
    </main>

    <div class="mid">
        <a href="/users/login" class="login-btn">Login</a>
    </div>

</div>
</body>
</html>
