<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>SCAN</title>
    <script src="/static/html5-qrcode.min.js"></script>

</head>
<body style="text-align:center; font-family: Arial;">

<h2>SCAN QR</h2>
<div id="reader" style="width:300px; margin: auto;"></div>

<script>
    function onScanSuccess(decodedText) {

        html5QrcodeScanner.clear().then(() => {

            window.location.href = decodedText;
        }).catch(err => {
            console.error("Scanner temizlenirken hata:", err);
            window.location.href = decodedText;
        });
    }

    function onScanFailure(error) {
        console.warn("Tara hata:", error);
    }

    // Scanner başlat
    const html5QrcodeScanner = new Html5QrcodeScanner(
        "reader",
        {fps: 10, qrbox: 250},
        /* verbose= */ false
    );

    html5QrcodeScanner.render(onScanSuccess, onScanFailure);
</script>
</body>
</html>
